@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Archangelsk;
  src: url("../../assets/fonts/Archangelsk-Regular.ttf");
}
