// ---fonts----------------------
$font-family: Roboto, sans-serif;
$second-family: Archangelsk, sans-serif;

// ---colors---------------------
$primary: #ffffff;
$secondary: #777;
$dark: #000;
$info: #52bedc;
$details: #f8f200;
